@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    int count = 1;
}

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["userList"] as List<User>)
        {
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                
            </tr>
        }
    </tbody>
</table>










